body {
  padding: 100px 30px 30px 30px;
  text-align: center;
  background: #333;
  color: white;
  font-size: 1.5em;
}

#newurl {
  padding: 1em;
  border-radius: 2px;
  width: 15em;
}

a {
  color: white;
  font-size: 1.5em;
}

div#link {
  padding-top: 20px;
}
